<div class="col-10 bg-dark text-white me-auto" style="margin-top: 150px;">
  <br>
  <div class="container">
    <h2>{{raceEvent.eventName}}</h2>
    <h4>Runda {{raceEvent.roundId}}/{{raceEvent.amountOfRounds}}</h4>
    <h4>Preq aktywne</h4>
    <h4>Preq zakończone</h4>
    <hr>
    <!-- <h6>Następna runda: {{raceEvent.activeRound?.roundDay | date:'short':'UTC'}}</h6> -->
    <!-- <img src = "{{raceEvent.photo}}"/> -->
  </div>
  <br>
  <div class="container">
    <div class="row justify-content-around">
            <button type="button" pButton label="Strona wyścigu" routerLink='/event/{{raceEvent.eventId}}'></button>
    </div>
    <br>
  </div>
</div>
