<div class="bg-light text-black">
  <hr>
  <p-table [value]="raceIncidents" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Zgłaszający</th>
        <th>Zgłoszony</th>
        <th>Okrążenie</th>
        <th>Czas na powtórce</th>
        <th>Decyzja</th>
      </tr>
    </ng-template>
    <ng-template let-raceIncident pTemplate="body" let-expanded="expanded">
      <tr *ngIf="raceIncident.isSolved==true">
        <td>{{raceIncident.id}}</td>
        <td>{{raceIncident.userId}}</td>
        <td>{{raceIncident.reportedUserId}}</td>
        <td>{{raceIncident.lap}}</td>
        <td>{{raceIncident.time}}</td>
        <td *ngIf="raceIncident.userId==currentDriverNumber || raceIncident.reportedUserId==currentDriverNumber">
            <span class="appealButton"><i class="fa fa-fw fa-reply" (click)="showDisplayAppeal()"></i></span>
            <p-dialog header="Odwołanie od decyzji" [(visible)]="displayAppeal" [breakpoints]="{'960px': '75vw'}"
              [style]="{width: '50vw',height:'auto'}" [draggable]="false" [resizable]="false">

              <form #incidentAppealForm="ngForm" (ngSubmit)="raiseAppeal(raceIncident.id)">

                <div class="form-group col-12 mt-3 mx-auto">
                  <span class="p-float-label" >
                  <textarea id="appealDescriptiontexterea" class="col-12" rows="10" pInputTextarea
                      [(ngModel)]="model.appealDescription" name="appealDescription" required
                      #appealDescription="ngModel"
                      [ngClass]="{'ng-invalid ng-dirty': appealDescription.invalid && (appealDescription.dirty || appealDescription.touched)}"></textarea>
                  <label for="appealDescriptiontexterea">Uzasadnienie odwołania</label>
                </span>
                </div>


                <p-button label="Potwierdź" styleClass="p-button-text" type="submit"></p-button>
                <p-button (click)="displayAppeal=false" label="Anuluj" styleClass="p-button-text"></p-button>
              </form>
            </p-dialog>
        </td>
        <td>
          <a href="#" [pRowToggler]="raceIncident">
            <i [ngClass]="expanded? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
          </a>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-raceIncident>
      <tr>
        <td colspan="7">
          <div class="p-3" dataKey="id">
            {{raceIncident.description}}
          </div>
        </td>
      </tr>
    </ng-template>

  </p-table>

</div>
