
<button *ngIf="isAdmin && !edit" pButton pRipple type="submit" label="Edytuj" class="editData submit-button" (click)="editRules()"></button>
<br>
<div class="bg-white"><div *ngIf="!edit"
  id="rulesTab"
  class="k-content k-state-active mb-2"
  role="tabpanel"
  tabindex="0"
  aria-labelledby="rules"
  aria-expanded="true"
  style="
    height: 70vh;
    overflow-y: scroll;
    opacity: 1;
    display: block;
    overflow-x: hidden;
  ">

  <div [innerHTML]="htmlContent"></div>
  <div class="flex align-items-center justify-content-center" style="min-width: 200px; min-height: 50px">
  </div>
</div>
<div *ngIf="edit">
  <button pButton pRipple type="submit" label="Zapisz" class="editData submit-button" (click)="saveRules()"></button>
  <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
</div>
