<ul class="list-group">
  <li class="list-group-item">
    <a class="text-decoration-none text-black" routerLink='/race/raceId/preq'>PREQ PreqDate</a>
  </li>
  <li class="list-group-item">
    <a class="text-decoration-none text-black">FP FPDate FPLength</a>
  </li>
  <li class="list-group-item">
    <a class="text-decoration-none text-black" routerLink='/race/raceId/results/quali'>QUALI QualiDate QualiLength</a>
  </li>
  <li class="list-group-item">
    <a class="text-decoration-none text-black" routerLink='/race/raceId/results/race'>Race RaceDate RaceLength</a>
  </li>
</ul>
