<ul class="list-group">
  <li class="list-group-item">
    <a class="text-decoration-none text-black" routerLink='/round/{{round.roundId}}/race/{{race.raceId}}/preq'>PREQ {{race.preqDate}}</a>
  </li>
  <li class="list-group-item">
    <a class="text-decoration-none text-black">FP {{race.practiceDate}} {{race.practiceLength}}</a>
  </li>
  <li class="list-group-item">
    <a class="text-decoration-none text-black" routerLink='/round/{{round.roundId}}/race/{{race.raceId}}/quali'>QUALI {{race.qualiDate}} {{race.qualiLength}}</a>
  </li>
  <li class="list-group-item">
    <a class="text-decoration-none text-black" routerLink='/round/{{round.roundId}}/race/{{race.raceId}}/race'>Race {{race.raceDate}} {{race.raceLength}}</a>
  </li>
</ul>
