::ng-deep .p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  min-width: 100%;
}
  p-inputnumber, .p-inputnumber {
  display: inline-flex;
  min-width: 100%;
}
::ng-deep .p-inputnumber {
  display: inline-flex;
  min-width: 100%;
}
