<div class="container">
  <div class="row">
    <div class="col-12 pb-0 bg-dark text-white" style="margin-top: 150px">
      <br />
      <h2 class="ms-5 me-5"><!--{{event?.event.name}}-->ROUND 1</h2>
      <br />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 bg-secondary text-white">
      <br />
      <div class="row text-center">
        <ul class="list-inline">
          <li class="list-inline-item mx-2">
            <a
              class="text-decoration-none text-white"
              (click)="setCurrentView('preq')"
              >Preq</a
            >
          </li>
          <li class="list-inline-item mx-2">
            <a
              class="text-decoration-none text-white"
              (click)="setCurrentView('quali')"
              >Quali</a
            >
          </li>
          <li class="list-inline-item mx-2">
            <a
              class="text-decoration-none text-white"
              (click)="setCurrentView('race')"
              >Race</a
            >
          </li>
          <li class="list-inline-item mx-2">
            <a
              class="text-decoration-none text-white"
              (click)="setCurrentView('incidents')"
              >Incydenty</a
            >
          </li>
          <li class="list-inline-item mx-2">
            <a
              class="text-decoration-none text-white"
              (click)="setCurrentView('incidentsReport')"
              >Zgłoś Incydent</a
            >
          </li>
        </ul>
      </div>
      <hr />

      <div class="bg-light text-black">
        <div *ngIf="view === 'preq'">
          <app-race-results
            [resultsSelector]="view"
            (numberOfParticipantsEmitter)="getNumberOfParticipants($event)"
          >
          </app-race-results>
        </div>
        <div *ngIf="view === 'quali'">
          <app-race-results
            [resultsSelector]="view"
            (numberOfParticipantsEmitter)="getNumberOfParticipants($event)"
          >
          </app-race-results>
        </div>
        <div *ngIf="view === 'race'">
          <app-race-results
            [resultsSelector]="view"
            (numberOfParticipantsEmitter)="getNumberOfParticipants($event)"
          >
          </app-race-results>
        </div>
        <div *ngIf="view === 'incidents'">
          <app-race-incidents></app-race-incidents>
        </div>
        <div *ngIf="view === 'incidentsReport'">
          <app-race-incidents-report></app-race-incidents-report>
        </div>
      </div>
    </div>

    <div class="col-4 bg-secondary text-black">
      <div class="container mt-5 mb-5">
        <div *ngIf="view === 'preq' || 'race' || 'quali'">
          <app-card *ngIf="currentDriverResult">
            <h5 class="card-title">
              {{ currentDriverResult.driverName }}
              {{ currentDriverResult.driverSurname }}
            </h5>
            <p class="card-text text-end">
              {{ currentDriverResult.carNumber }}
            </p>
            <p class="card-text text-end">
              {{ currentDriverResult.position }}/{{
                numberOfParticipantsForEvent
              }}
            </p>
            <p class="card-text text-end">{{ currentDriverResult.points }}</p>
            <p-toggleButton
              (click)="changeRaceStatus()"
              onLabel="Obecny"
              offLabel="Potwierdź"
              onIcon="pi pi-times"
              offIcon="pi pi-check"
              [style]="{ width: '10em' }"
              >Obecność</p-toggleButton
            >
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
