<div class="container">
  <div class="row">
    <div class="col-12 pb-0 race-details-header">
      <br />
      <div class="d-flex flex-row justify-content-between">
        <h1 class="ms-5 me-5 mb-4" style="margin-top: 10px">
          Runda {{ roundId }}
        </h1>

        <h2 class="ms-5 me-5 mb-4">
          <p-button label="Strona eventu" icon="pi pi-arrow-left" display="flex;" routerLink="/event/{{ eventId }}">
          </p-button>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 race-details-box">
      <br />
      <div class="row text-center">
        <p-tabView>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="fa-solid fa-stopwatch p-2"></i> Prekwalifikacje
            </ng-template>
            <app-race-results [resultsSelector]="'preq'"
              (numberOfParticipantsEmitter)="getNumberOfParticipants($event)">
            </app-race-results>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="fa-solid fa-grip-vertical p-2"></i> Kwalifikacje
            </ng-template>
            <app-race-results [resultsSelector]="'kwali'"
              (numberOfParticipantsEmitter)="getNumberOfParticipants($event)">
            </app-race-results>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="fa-solid fa-flag-checkered p-2"></i> Wyścig
            </ng-template>
            <app-race-results [resultsSelector]="'race'"
              (numberOfParticipantsEmitter)="getNumberOfParticipants($event)">
            </app-race-results>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="fa-solid fa-file-circle-exclamation p-2"></i>Incydenty
            </ng-template>
            <app-race-incidents></app-race-incidents>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="fa-solid fa-car-burst p-2"></i> Zgłoś incydent
            </ng-template>
            <app-race-incidents-report></app-race-incidents-report>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="fa-solid fa-question-circle p-2"></i> Open tickets
            </ng-template>
            <app-race-incidents-open></app-race-incidents-open>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>


    <!-- <p-toggleButton (click)="changeRaceStatus()" onLabel="Obecny" offLabel="Potwierdź" onIcon="pi pi-times"
              offIcon="pi pi-check" [style]="{ width: '10em' }">Obecność</p-toggleButton> -->




  </div>
</div>
