<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Łelkam ewrybady</h1>
    <p class="lead">Zarejestruj się już teraz i dołącz do najlepszej ligi w Polsce a może i na świecie</p>
    <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Dołącz teraz</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
