<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8" style="margin-top: 150px;">
      <app-event-list></app-event-list>
    </div>
    <div class="col-xl-4" style="margin-top: 150px">
      <div class="row">
        <app-calendar></app-calendar>
      </div>
    </div>
  </div>
</div>
<p-button class="bottom-right add-button" label="Dodaj Event" icon="pi pi-plus" iconPos="left"  (click)="onAddEventClick()"></p-button>
<p-dialog header="Kreator eventu" [(visible)]="displayEventCreator" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
        <app-event-creator></app-event-creator>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayEventCreator=false" label="Anuluj" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
