<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">DixRacing.pl</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="colapse"
      data-bs-target="navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navmenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="https://discord.gg/83ubKU3j" class="nav-link">Discord</a>
        </li>
        <li class="nav-item">
          <a href="https://www.youtube.com/c/DixRacingpl" class="nav-link"
            >Youtube</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/info"
            *ngIf="accountService.currentUser$ | async"
            >Ogłoszenia</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/forum"
            *ngIf="accountService.currentUser$ | async"
            >Forum</a
          >
        </li>
      </ul>

      <ul
        class="navbar-nav"
        *ngIf="accountService.currentUser$ | async as user"
      >
        <li class="nav-item">
          <a class="nav-link" (click)="connectSteam(user.userId)"><i class="fa-brands fa-steam fa-lg"></i> Steam</a>
        </li>
        <li class="nav-item">
          <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
          <p-button
            label="Nick"
            icon="fa-solid fa-id-card fa-xl"
            styleClass="p-button-warning"
            badge="8"
            badgeClass="p-badge-danger"
            (click)="menu.toggle($event)"
          ></p-button>
        </li>
      </ul>
    </div>

    <ul
      class="navbar-nav"
      *ngIf="(accountService.currentUser$ | async) === null"
    >
      <form
        #loginForm="ngForm"
        class="d-flex"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="email"
          class="form-control mx-1"
          type="text"
          pInputText
          [(ngModel)]="model.email"
          placeholder="E-mail"
        />

        <input
          name="password"
          class="form-control mx-1"
          pPassword
          [(ngModel)]="model.password"
          type="password"
          placeholder="Password"
          [feedback]="false"
        />

          <button pButton pRipple type="submit"  class="p-button-success mx-1" style="width:12rem">Zaloguj</button>
          <button pButton pRipple type="button"  class="p-button-danger mx-1" routerLink="/register" style="width:12rem">Dołącz</button>

      </form>
    </ul>
  </div>
</nav>
