.dropdown-toggle, .dropdown-item
{
  cursor:pointer;
}
.img-nav{
  width: 10%;
  height: 10%;
  background: rgb(255, 255, 255);/*TODO:Global NavbarColor*/
}
.navbar{
  background-color: var(--dark);
  color: var(--light);
}

.nav-link{
  color: var(--light);
}

::ng-deep .p-button{
  color: var(--light);
  background-color: var(--buttonBlue);
  border: none;
  border-radius: 3px;
}
