<div class="race-details-box">
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-unlock"></i>
        <span>Otwarte</span>
      </ng-template>
      <p-table [value]="raceIncidents" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Zgłaszający</th>
            <th>Zgłoszony</th>
            <th>Okrążenie</th>
            <th>Czas na powtórce</th>
            <th>Decyzja</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-raceIncident let-expanded="expanded" let-i="rowIndex">
          <tr *ngIf="raceIncident.isSolved==0">
            <td>{{i+1}}</td>
            <td>{{raceIncident.userId}}</td>
            <td>{{raceIncident.reportedUserId}}</td>
            <td>{{raceIncident.lap}}</td>
            <td>{{raceIncident.time}}</td>
            <td>{{raceIncident.penalty}}</td>
            <td>
              <a href="#" [pRowToggler]="raceIncident">
                <i [ngClass]="expanded? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
              </a>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-raceIncident>
          <tr *ngIf="raceIncident.isSolved==0">
            <td colspan="7">
              <div class="p-3" dataKey="id">
                <app-penalty-solve-form [raceIncident]="raceIncident" (raceIncidentsEmitter)="updateRaceIncidents($event)" ></app-penalty-solve-form>
              </div>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <i class="pi pi-lock"></i>
        <span>Zamknięte</span>
      </ng-template>
      <p-table [value]="raceIncidents" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Zgłaszający</th>
            <th>Zgłoszony</th>
            <th>Okrążenie</th>
            <th>Czas na powtórce</th>
            <th>Decyzja</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-raceIncident>
          <tr *ngIf="raceIncident.isSolved==1">
            <td>{{raceIncident.id}}</td>
            <td>{{raceIncident.userId}}</td>
            <td>{{raceIncident.reportedUserId}}</td>
            <td>{{raceIncident.lap}}</td>
            <td>{{raceIncident.time}}</td>
            <td>{{raceIncident.penalty}}</td>
            <td>
              <p-button icon="fa fa-fw fa-unlock" (click)="openTicket(raceIncident)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>
