<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Punktacja</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span *ngIf="1==1" class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <button>Dodaj</button>
        </a>
        <a class="text-success" (click)="save()">
          <button>Zapisz</button>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped">
        <tr>
          <th class="text-left">Place</th>
          <th class="text-center">Points</th>
        </tr>
        <tr *ngFor="let points of pointsList; let id = index">
          <td>
            <span *ngIf="1==1" (keyup)="changeValue(id, 'place', $event)" (blur)="updateList(id, 'place', $event)" contenteditable="true">
              {{points.place}}</span>
            <span  *ngIf="1!=1">{{points.place}}</span>
          </td>
          <td>
            <span  *ngIf="1==1" (keyup)="changeValue(id, 'points', $event)" (blur)="updateList(id, 'points', $event)" contenteditable="true">{{points.points}}</span>
            <span  *ngIf="1!=1">{{points.points}}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
