<p-table [value]="points" styleClass="p-datatable-sm">
  <ng-template pTemplate="caption">
    <div class="table-header">Punktacja</div>
    <span class="p-input-icon-left">
      <button pButton icon="pi pi-plus" (click)="add()"></button>
    </span>
  </ng-template>
  <ng-template pTemplate="body" let-point>
    <tr>
      <td>Pozycja : {{ point.position }}</td>
      <td>{{ point.points }} pkt.</td>
      <td style="text-align: center"></td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success m-2"
          (click)="edit(point)"
        ></button>

        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning m-2"
          (click)="remove(point)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog
  [(visible)]="editDialog"
  [style]="{ width: '450px' }"
  header="Punktacja"
  [modal]="true"
  styleClass="p-fluid"
  ><ng-template pTemplate="content">
    <div class="field">
      <label for="position">Pozycja</label>
      <input
        [disabled]="item.id > 0"
        type="text"
        [(ngModel)]="item.position"
        pInputText
        id="position"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !product.name"
        >Name is required.</small
      >
    </div>
    <div class="field">
      <label for="points">Punkty</label>
      <input
        type="text"
        [(ngModel)]="item.points"
        pInputText
        required
        id="points"
        autofocus
      />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      label="Anuluj"
      icon="pi pi-times"
      class="p-button-text"
      (click)="cancel()"
    ></button>
    <button
      pButton
      label="Zapisz"
      icon="pi pi-check"
      class="p-button-text"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
