<div class="bg-light text-black">

  <p-table *ngIf="teams" [value]="teams">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Lp.</th>
        <th scope="col">Nazwa zespołu</th>
        <th scope="col">Kierowcy</th>
        <th scope="col">Auto</th>
        <th scope="col">Punkty</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-team>
      <tr>
        <td let i = dataIndex>{{i+1}} </td>
        <td>{{team.teamName}}</td>
        <td>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let teamMember of team.teamMembers">{{teamMember.userName}} {{teamMember.userSurname}}</li>
          </ul>
        </td>
        <td>{{team.teamCar}}</td>
        <td>{{summedPoints(team)}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
