<div class="bg-light text-black mx-auto mb-2">
  <br>
  <form #eventSignupForm="ngForm" (ngSubmit)="eventSignup()" autocomplete="off" class="form-group ">
    <!--TODO:dodać do modelu driverName i driverSurname-->
    <div class="form-group col-12 mx-auto mb-2">
      <span class="p-float-label ">
        <input type="text" pInputText class="form-control" id="numberInput" name="number" [(ngModel)]="model.number"
          required #number="ngModel"
          [ngClass]="{'ng-invalid ng-dirty': number.invalid && (number.dirty || number.touched)}">
        <label for="numberInput">Numer</label>
      </span>
    </div>

    <div class="form-group col-12 mx-auto mb-2">
        <app-dropdown *ngIf="params"
        [labelId]="'carInput'"
        [labelValue]="'Auto'"
        [endpoint]="'cars'"
        (selectedValueEmitter)="selectCar($event)"
        required
        ></app-dropdown>
    </div>

    <div class="form-group col-12 mx-auto mb-2">
      <app-dropdown *ngIf="params"
      [labelId]="'teamInput'"
      [labelValue]="'Team'"
      [endpoint]="'teams'"
      [queryParams]="params"
      (selectedValueEmitter)="selectTeam($event)"
      required
      ></app-dropdown>
    </div>

    <div class="form-group col-12 mx-auto mb-2">
      <span class="p-float-label">
        <input type="text" pInputText class="form-control" id="newTeamInput" name="number" [(ngModel)]="model.newTeam"
          name="newTeam">
        <label for="newTeamInput">Stwórz nowy team</label>
      </span>
    </div>

    <div class="row form-group col-12 mx-auto mb-2">
      <span class="col-3" id="header.livery" style="display: flex;justify-content: flex-start;align-items: center;">
        <h3>Malowanie</h3>
      </span>
      <span class="col-9">
        <input class="form-control" type="file" id="liveryFile" accept="image/*" (change)="liveryUpload($event)">
        <!-- TODO:walidacja typu plików po stronie serwera -->
      </span>
    </div>

    <br>
    <div class="form-group text-center mx-auto">
      <button class="btn btn-success mx-1 col-12 md:col-6 lg:col-6" type="submit" [disabled]="!eventSignupForm.valid">Dołącz</button>
    </div>
    <br>
  </form>
</div>
