<div class="container">
  <div class="row my-auto">
    <div class="col-4 pe-0 bg-dark text-white" style="margin-top: 150px;">
      <br>
      <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off" class="form-group ">
        <h2 class="text-center text-primary mb-4"> Dołącz do DixRacing </h2>

        <div class="form-group col-6 mx-auto">
          <span class="p-float-label">
            <input id="nickInput" type="text" pInputText [(ngModel)]="model.nick" name="nick">
            <label for="nickInput">Nick</label>
        </span>
        </div>
        <div class="form-group col-6 mx-auto">
          <span class="p-float-label">
            <input id="nameInput" type="text" pInputText [(ngModel)]="model.name" name="name">
            <label for="nameInput">Imię</label>
        </span>
        </div>
        <div class="form-group col-6 mx-auto">
          <span class="p-float-label">
            <input id="surnameInput" type="text" pInputText [(ngModel)]="model.surname" name="surname">
            <label for="surnameInput">Nazwisko</label>
        </span>
        </div>
        <div class="form-group col-6 mx-auto">
          <span class="p-float-label">
            <input id="emailInput" type="text" pInputText [(ngModel)]="model.email" name="email">
            <label for="emailInput">E-mail</label>
        </span>
        </div>
        <div class="form-group col-6 mx-auto">
          <span class="p-float-label">
            <input id="passwordInput" type="password" pPassword [(ngModel)]="model.password" name="password">
            <label for="passwordInput">Hasło</label>
        </span>
        </div>

        <br>

        <div class="form-group text-center mx-auto">
          <button pButton pRipple type="button" label="Zarejestruj" class="p-button-success mx-1" type="submit"></button>
          <button pButton pRipple type="button" label="Anuluj" class="p-button-warning mx-1" routerLink='/home'></button>
        </div>
        <br>

        <!--
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>-->

      </form>
    </div>
    <div class="col-8 ps-0">
      <div class="car" style="margin-top: 150px;">
        <img  src="https://www.xtrafondos.com/wallpapers/auto-aston-martin-dbc-299.jpg" alt="">
      </div>
    </div>
</div>

</div>
