  <div class="col-12" *ngIf="raceEvent" >
    <div class="p-fluid grid formgrid">
      <div class="field col-4">
        <label for="nameInput">Nazwa eventu</label>
        <input id="nameInput" type="text" pInputText [disabled]="disabled" placeholder="{{raceEvent.name}}"
          [(ngModel)]="raceEvent.name" name="nameInput" required #name="ngModel"
          [ngClass]="{'ng-invalid ng-dirty': name.invalid && (name.dirty || name.touched)}">
      </div>
      <div class="field col-4">
        <label for="imgInput">Grafika</label>
        <img  id="imgInput" src="data:image/jpg;base64,{{raceEvent.photo}}" width="300" height="150" alt ="" >
      </div>
    </div>
    <br />

    <div class="flex align-content-start flex-wrap card-container blue-container" style="min-height: 200px">
        <div class="flex align-items-center justify-content-center" style="min-width: 200px; min-height: 50px"><p-button
          type="button"
          class="user-profile-button"
          label="edytuj"
          icon="pi pi-pencil"
        ></p-button></div>
</div>
