  <div class="col-12">
   <h2>Runda {{ raceEvent.roundId }}/{{ raceEvent.amountOfRounds }}</h2>  <!-- TODO:tu będzie potem nazwa eventu -->

  </div>
  <br />
  <div class="col-12" >
    <div class="p-fluid grid formgrid">
      <div class="field col-4">
        <p>Zespół</p>
        <p>{{eventResult.teamName}}</p>
      </div>
      <div class="field col-4">
        <p>Samochód</p>
        <p>event.eventCar ???</p>
      </div>
      <div class="field col-2 numbersBox">
        <p>Punkty</p>
        <p>{{eventResult.points}}</p>
      </div>
      <div class="field col-2 numbersBox">
        <p>Pozycja</p>
        <p>{{eventResult.position}}</p>
      </div>
    </div>
    <br />
  </div>
