table {
  font-family: Arial,sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th
{
  border:1px solid #cccccc;
  padding:4px;
}

th
{
  font-weight: bold;
  text-transform: capitalize;
}
