/* .TrackImageHolder {
  position: relative;
}
.TrackImageHolder span {
  position: absolute;
  top: 5%;
  border: 2px solid black;
  background: white;
} */
.bottom-right {
  position: fixed;
  right: 40px;
  bottom: 40px;
}
