.bottom-right {
  position: fixed;
  right: 40px;
  bottom: 40px;
}

::ng-deep .p-tabview .p-tabview-nav {
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
::ng-deep .p-tabview .p-tabview-panels {
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
}
::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  background-color: white;
}
::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1rem;
  border: 1px solid #dee2e6;
  color: #495057;
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  font-weight: 600;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}
::ng-deep .p-tabview-nav {
  justify-content: center;
}

.event-details-box{
  margin: 50px 0 0 0;
  background-color: var(--buttonNavyBlue);
  border: 1px solid var(--light);
  border-radius: 5px;
}

.event-details-box .p-tabview-nav .ng-star-inserted .p-tabview-nav-link{
  color: var(--light);
}

.event-details-box .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color:var(--buttonNavyBlue);
  border-color: var(--light);
  background-color: var(--light);
}

.event-details-header{
  margin: 150px 0 0 0 ;
  background-color: var(--buttonBlue);
  color:var(--light);
}

.event-details-header .p-button{
  color: var(--buttonNavyBlue);
  font-weight: bold;
  background-color: var(--light);
  border-color: var(--buttonNavyBlue);
}

.driver-list{
  background-color: var(--accent);
}

