/* .TrackImageHolder {
  position: relative;
}
.TrackImageHolder span {
  position: absolute;
  top: 5%;
  border: 2px solid black;
  background: white;
} */
.bottom-right {
  position: fixed;
  right: 40px;
  bottom: 40px;
}

::ng-deep .p-tabview .p-tabview-nav {
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
::ng-deep .p-tabview .p-tabview-panels {
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity));
}
::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  background-color: white;
}
::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1rem;
  border: 1px solid #dee2e6;
  color: #495057;
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  font-weight: 600;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}
