<div class="container ">
  <div class="row">
    <div class="col-12 pb-0 bg-dark text-white" style="margin-top: 150px;">
      <br>
      <h2 class="ms-5 me-5">GT3 ACC Sezon {{eventId}}</h2>
      <br>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-8 bg-secondary text-white">
      <br>

      <div class="row text-center">
        <ul class="list-inline">
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" (click)="setCurrentView(0)">Info</a>
            <!--TODO: zmienić to potem na eventId/race -->
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" (click)="setCurrentView(1)">Regulamin</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" (click)="setCurrentView(2)">Kierowcy</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" (click)="setCurrentView(3)">Zespoły</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" (click)="setCurrentView(4)">Klasyfikacja</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" (click)="setCurrentView(5)">Kary</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="bg-light text-black">

        <div *ngIf="viewId === 0">
          <app-event-info></app-event-info>
        </div>

        <div *ngIf="viewId === 1">
          <app-event-rules></app-event-rules>
        </div>
        <div *ngIf="viewId === 2">
          <app-driver-list> </app-driver-list>
        </div>
        <div *ngIf="viewId === 3">
          <app-event-teams></app-event-teams>
        </div>
        <div *ngIf="viewId === 4">
          <app-event-points></app-event-points>
        </div>
        <div *ngIf="viewId === 5">
          <app-event-penalty></app-event-penalty>
        </div>
      </div>


    </div>



    <div class="col-4 bg-secondary text-black">
      <div class="container mt-5 mb-5">
        <div class="card-wrapper">
          <mat-card class="example-card">
            <mat-card-header>
              <img
                src="https://d3npyywa6qnolf.cloudfront.net/prod/user/540311/eyJ1cmwiOiJodHRwczpcL1wvcGF0cm9uaXRlLnBsXC91cGxvYWRcL3VzZXJcLzU0MDMxMVwvYXZhdGFyX29yaWcuanBnPzE2MjI1ODgwNjYiLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjI5MCwib3B0aW9ucyI6eyJxdWFsaXR5Ijo5NX19LCJ0b0Zvcm1hdCI6ImpwZWcifX0%3D/OL4pCaXUUXl9BnHQ3HmYZovLVzWMv9Bx%2FMZz%2FPTTulg%3D"
                mat-card-avatar />
              <mat-card-title>
               Runda {{activeRound.roundNumber}}
              </mat-card-title>
              <mat-card-subtitle>
                Tor
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Serwer:</p>
              <p>{{activeRound.serverName}}</p>
              <p>Password:</p>
              <p> {{activeRound.serverPassword}}</p>

            </mat-card-content>
            <hr>
            <mat-card-actions *ngIf="timeToSign()">

              <button mat-raised-button color="accent">Potwierdź {{timeToSign()}}</button>
              <!-- <button mat-raised-button color="primary">SHARE</button> -->
              <!-- TODO: zmienic to na listę godzin minut i sekund -->
            </mat-card-actions>
          </mat-card>

        </div>
      </div>

      <div class="container mt-5 mb-5">
        <div class="accordion" id="accordion-section">
          <div class="accordion-item" *ngFor="let round of event?.event.rounds">
            <h2 class="accordion-header">
              <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#Item' + round.id" (click)="loadRaces(round.id)" aria-expanded="false" aria-controls="#Item{{round.id}}">Round {{round.id}}</button>
            </h2>
            <div class="accordion-collapse collapse" id="Item{{round.id}}" data-bs-parent="#accordionSection">
              <div class="accordion-body" *ngFor="let race of races">
                <app-race-box *ngIf="race.roundId===round.id" [round]="round" [race]="race"></app-race-box>
              </div>
            </div>
          </div>


        </div>

      </div>

    </div>

  </div>
</div>
