<div class="formBorder">
<form #raceCreatorForm="ngForm" (ngSubmit)="createRace()" autocomplete="off" class="form-group">
<div class="grid p-fluid">
  <span class="col-12 md:col-6 lg:col-3 p-float-label">
    <p-calendar  inputId="practiceDate" [(ngModel)]="model.practiceDate" [showTime]="true" [showSeconds]="true"
      inputId="practiceDate" name="practiceDate" >
    </p-calendar>
    <label for="practiceDate">Practice Date</label>
  </span>

  <span class="col-12 md:col-6 lg:col-3 p-float-label">
    <p-inputNumber inputId="practiceLength" [(ngModel)]="model.practiceLength" name="practiceLength">
    </p-inputNumber>
    <label for="practiceLength">Practice length</label>
  </span>

  <span class="col-12 md:col-6 lg:col-3 p-float-label">
    <p-calendar  inputId="qualiDate" [(ngModel)]="model.qualiDate" [showTime]="true" [showSeconds]="true"
      inputId="qualiDate" name="qualiDate">
    </p-calendar>
    <label for="qualiDate">Quali Date</label>
  </span>

  <span class="col-12 md:col-6 lg:col-3 p-float-label">
    <p-inputNumber  inputId="qualiLength" [(ngModel)]="model.qualiLength" name="qualiLength">
    </p-inputNumber>
    <label for="qualiLength">Quali Length</label>
  </span>

  <span class="col-12 md:col-6 lg:col-3 p-float-label">
    <p-calendar  inputId="raceDate" [(ngModel)]="model.raceDate" [showTime]="true" [showSeconds]="true"
      inputId="raceDate" name="raceDate">
    </p-calendar>
    <label for="raceDate">Race Date</label>
  </span>

  <span class="col-12 md:col-6 lg:col-3 p-float-label">
    <p-inputNumber inputId="raceLength" [(ngModel)]="model.raceLength" name="raceLength">
    </p-inputNumber>
    <label for="raceLength">Race Length</label>
  </span>

  <span class="col-12 md:col-6 lg:col-3 p-float-label">
    <p-calendar  inputId="signingTime" [(ngModel)]="model.signingTime" [showTime]="true" [showSeconds]="true"
      inputId="signingTime" name="signingTime">
    </p-calendar>
    <label for="signingTime">Signing Time</label>
  </span>

  <button pButton pRipple type="submit" label="Dodaj rundę" class="p-button-success col-12 md:col-6 lg:col-6"></button>
</div>
</form>
</div>
