<form #eventCreatorForm="ngForm" (ngSubmit)="createEvent()" autocomplete="off" class="form-group">

<span class="p-float-label">
    <input id="eventName" type="text" pInputText [(ngModel)]="model.name" name="eventName">
    <label for="eventName">Nazwa eventu</label>
</span>

<span class="p-float-label">
  <app-dropdown [endpoint]="'game'" (selectedValueEmitter)="selectGame($event)"></app-dropdown>
</span>

<span class="p-float-label mb-2">
  <input id="eventPhoto" type="text" pInputText [(ngModel)]="model.photo" name="eventPhoto">
  <label for="eventPhoto">Link do grafiki eventu</label>
  <!-- TODO: plik z grafiką zamiast linku -->
</span>

<p-button label="Dodaj" type="submit"></p-button>

</form>
