<div class="container ">
  <div class="row">
    <div class="col-12 pb-0 bg-dark text-white" style="margin-top: 150px;">
      <br>
      <h2 class="ms-5 me-5">GT3 ACC Sezon (tutaj sezon id) Numer wyścigu nazwa wyścigu tor</h2>
      <br>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-8 bg-secondary text-white">
      <br>

      <div class="row text-center">
        <ul class="list-inline">
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" routerLink='/event/info'>Info</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" routerLink='/rules'>Regulamin</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" routerLink='/drivers'>Kierowcy</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" routerLink='/teams'>Zespoły</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" routerLink='/standings'>Klasyfikacja</a>
          </li>
          <li class="list-inline-item mx-2">
            <a class="text-decoration-none text-white" routerLink='/penalties'>Kary</a>
          </li>
        </ul>
      </div>
      <hr>
      <div class="bg-light text-black">
        <p class="mx-2 mt-2 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptatibus vero minima
          qui obcaecati perferendis doloremque, cupiditate quaerat tenetur illum vel, quibusdam aspernatur, aliquam esse
          sit quod facilis omnis mollitia.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, delectus? Sequi amet deserunt eos
          consequatur voluptate quasi odio alias odit eveniet mollitia tempora tempore, modi, veritatis est fuga vitae
          labore.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, aut inventore? Quo, facilis. Reprehenderit
          atque officia, enim provident inventore aliquam consequatur voluptatibus, alias optio animi error nihil quia
          voluptates officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quia. Ratione,
          quibusdam! Ullam fugiat ex consectetur molestias eveniet totam at! Alias incidunt voluptate, libero quidem
          reprehenderit quia expedita error. Quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          ullam molestiae in voluptas libero dolor dolores quasi quae dicta consequatur ipsum soluta. Vero libero
          nostrum quae quis. Velit, quos fugiat? Lorem ipsum dolor sit amet consectetur adipisicing elit. A, velit
          repellendus officia fugit nesciunt voluptatum ipsam inventore quia omnis molestias excepturi, quam dolore
          autem ad consectetur provident ducimus assumenda vero. lorem
        </p>
      </div>


    </div>

    <div class="col-4 bg-secondary text-black">


    </div>

  </div>
</div>
