<a style="text-decoration:none" href="event/1/round/1/race/1/preq">
<div class="card mb-4">
  <div class="card-img-wrapper">
    <div class="carImageHolder">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Circuit_N%C3%BCrburgring-1927-Nordschleife.svg/1107px-Circuit_N%C3%BCrburgring-1927-Nordschleife.svg.png"
        alt=""
        class="card-img-top"
        style="max-width: 250px"
      />
    </div>
    <!-- <ul class="list-inline member-icons animate text-center"> -->
    <!-- <li class="list-inline-item"><button routerLink="/members/{{member.username}}"class="btn btn-primary"><i class="fa fa-user"></i></button></li> -->
    <!-- <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope"></i></button></li> -->
    <!-- </ul> -->
  </div>
  <div class="card-body p-1 bg-primary m-1">
    <h5 class="card-title text-center mb-1">
      <i class="pi pi-map-marker mr-2"></i>
      Tutej track
    </h5>
    <h6 class="card-title text-center mb-1">
      <i class="pi pi-calendar mr-2"></i>
      FP: 120min Q: 20min R: 10min
    </h6>
    <p class="card-text text-muted text-center"></p>
  </div>
</div>
</a>
