<div class="container">
  <div class="row">
    <div class="col-12 pb-0 bg-dark text-white" style="margin-top: 150px">
      <br />
      <div class="d-flex flex-row justify-content-between">
        <h1 class="ms-5 me-5 mb-4" style="margin-top: 10px;">
          Profil kierowcy
        </h1>

      </div>
    </div>
    <br />
  </div>
</div>

<div class="container">
  <div class="row">

      <div id="userInfoBox" class="col-4 bg-secondary text-white" style="margin-bottom: 150px;min-height: 100%">
        <app-user-info></app-user-info>
      </div>

      <div class="col-8 bg-secondary text-black" style="margin-bottom: 150px; min-height: 100%;">

        <div id="userStatsBox" class="col 12 text-white" style="height: 30%;">
          <app-user-stats></app-user-stats>
        </div>

        <div id="userLeaguesBox" class="col 12 text-white" style="height: 70%;">
          <app-user-leagues></app-user-leagues>
        </div>

      </div>

    </div>
  </div>
