<div class="row" *ngIf="drivers?.length === 0">
  <h3>No drivers</h3>
</div>
<div class="bg-light text-black" *ngIf="drivers?.length > 0">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Kierowca</th>
        <th>Zespół</th>
        <th>Auto</th>
      </tr>
    </thead>
    <tr *ngFor="let driver of drivers">
      <td>{{driver.number}}</td>
      <td>{{driver.name}} "{{driver.nick}}" {{driver.surname}} </td>
      <td>{{driver.team}}</td>
      <td>{{driver.car}}</td>
    </tr>
  </table>
</div>
